extends ../layouts/default

block intro
	.container.page-menu
		h1 EVENT
		a(href='#whatistedx'): h2 What is TEDx
		a(href='#info'): h2 Info
		a(href='#speaker'): h2 Speaker

block content
	.container.page
		#whatistedx
			h1 What is TEDx
			p
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et quam vel nunc hendrerit imperdiet. Suspendisse sit amet elementum sem. Vivamus nec ex mauris. Duis orci lectus, convallis sed erat eu, venenatis congue libero. Nullam eu maximus risus. Sed pellentesque fringilla faucibus. Ut pharetra velit laoreet risus efficitur porta. Mauris dignissim mattis eleifend. Nunc molestie id risus eget tempor.
			p
				Integer vehicula erat id faucibus porta. Fusce dignissim orci at maximus rutrum. Donec auctor, nisl sed sagittis semper, tortor tellus imperdiet ligula, vel condimentum ipsum mi nec sem. Duis ultricies tellus nec massa iaculis fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie luctus tortor, non faucibus tortor ornare vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam consequat dui ac posuere tristique. Duis gravida neque metus, sit amet sollicitudin lacus ornare ut. Proin ullamcorper tincidunt diam nec mattis. Pellentesque in iaculis mi. Vestibulum mi tortor, faucibus vitae purus nec, accumsan laoreet diam. Sed vel dolor eget quam aliquam sagittis.		
		#info
			h1 Info
			p
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et quam vel nunc hendrerit imperdiet. Suspendisse sit amet elementum sem. Vivamus nec ex mauris. Duis orci lectus, convallis sed erat eu, venenatis congue libero. Nullam eu maximus risus. Sed pellentesque fringilla faucibus. Ut pharetra velit laoreet risus efficitur porta. Mauris dignissim mattis eleifend. Nunc molestie id risus eget tempor.
			p
				Integer vehicula erat id faucibus porta. Fusce dignissim orci at maximus rutrum. Donec auctor, nisl sed sagittis semper, tortor tellus imperdiet ligula, vel condimentum ipsum mi nec sem. Duis ultricies tellus nec massa iaculis fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie luctus tortor, non faucibus tortor ornare vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam consequat dui ac posuere tristique. Duis gravida neque metus, sit amet sollicitudin lacus ornare ut. Proin ullamcorper tincidunt diam nec mattis. Pellentesque in iaculis mi. Vestibulum mi tortor, faucibus vitae purus nec, accumsan laoreet diam. Sed vel dolor eget quam aliquam sagittis.		#info
		#speaker
			h1 Speaker
			p
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et quam vel nunc hendrerit imperdiet. Suspendisse sit amet elementum sem. Vivamus nec ex mauris. Duis orci lectus, convallis sed erat eu, venenatis congue libero. Nullam eu maximus risus. Sed pellentesque fringilla faucibus. Ut pharetra velit laoreet risus efficitur porta. Mauris dignissim mattis eleifend. Nunc molestie id risus eget tempor.
			p
				Integer vehicula erat id faucibus porta. Fusce dignissim orci at maximus rutrum. Donec auctor, nisl sed sagittis semper, tortor tellus imperdiet ligula, vel condimentum ipsum mi nec sem. Duis ultricies tellus nec massa iaculis fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie luctus tortor, non faucibus tortor ornare vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam consequat dui ac posuere tristique. Duis gravida neque metus, sit amet sollicitudin lacus ornare ut. Proin ullamcorper tincidunt diam nec mattis. Pellentesque in iaculis mi. Vestibulum mi tortor, faucibus vitae purus nec, accumsan laoreet diam. Sed vel dolor eget quam aliquam sagittis.		
