extends ../layouts/default

block content
	.container.about
		h1 About TEDx
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor dolor id gravida ultrices. Donec vulputate mollis volutpat. Quisque scelerisque ex ut diam viverra, non auctor neque iaculis. Cras lacinia, elit vitae pellentesque semper, libero tortor blandit dolor, et placerat lectus diam vitae mauris. Integer dictum velit vel blandit varius. Phasellus in semper libero. Suspendisse ornare in nisi ac ultrices. Nulla sodales porttitor turpis et lacinia. Sed bibendum sodales felis non placerat. Morbi sed nisi ut est tempus faucibus nec at metus. Curabitur vitae justo vitae augue vestibulum sagittis. Donec est felis, gravida ac interdum ac, sollicitudin vitae est. Aliquam euismod at justo quis molestie. Ut tristique ligula a justo faucibus, at feugiat nisi tristique.
	.container-fluid.section
		.box
			h2 TEDxKasetsartU - 7th of May
			h3.
				Take a Chance<br>	
				Make a Change
