extends ../layouts/default
block variables
	- HOMEPAGE = true;

block content
	.container.about
		h1.about-tedx About TEDx
		p.subhead !{__('event.content.what_is_tedx.content')}
	.container-fullwidth.section
		.col-md-4.col-sm-12.col-xs-12
			.box
				h2 <b>#{__('index.event_box.header')}</b>
				h3(style='text-transform: uppercase;')
					!=__('index.event_box.slogan')
				p(style='font-size: 1.2em;') !{__('index.event_box.content')}
				a(href='/event')!=__('index.event_box.cta')
		.landing-feature.col-md-8.hidden-sm.hidden-xs
