extends ../layouts/default
block variables
	- HOMEPAGE = true;

block content
	.container.about
		h1.about-tedx About TEDx
		p.subhead !{__('event.content.what_is_tedx.content')}
	.container-fullwidth.section
		.col-md-4.col-sm-12.col-xs-12
			.box
				h2 <b>TEDxKasetsartU - 7th of May</b>
				h3
					p Take a Chance<br>	
					p Make a Change<br>
					p TEDxKasetsartU is all about taking a chance and changing the future.
				a(href='/event')!=__('Read More')
		.landing-feature.col-md-8.hidden-sm.hidden-xs
