#footer {
	border-top: 1px solid #eeeeee;
	padding-top: 25px;
	background-color: #e62b1e;
	height: auto;
	width: 100%;
	text-align: center;
}

.blackline{
	margin-top: 25px;
	width: 100%;
	height: 30px;
	background-color: #000;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
	color: $black;
}

.nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-left {
		margin-top: 20px;
		margin-left: 5%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: $red;
	background-color: $navbar-default-bg;
}

.feature-img > img{
	width: 100%;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:25px;
    padding-bottom:0;
    height: 70px;
		margin-right: 35px;
}

.navbar-brand img{
	width: auto;
	height: 70px;
}
.navbar {
	min-height:70px;
	margin-bottom: 0;
	height: 100px;
}

.box {
	float: left;
	width: 400px;
	height: 300px;
	background-color: $red;
	color: #fff;
	padding: 15px;
}

.section {
	padding: 30px 20px 30px 20px;
	background-color: #444;
}

.about {
	padding-top: 150px;
	padding-bottom: 150px;
}

.social > div {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 10px;
	margin-bottom: 25px;
	text-align: center;
}

.img-circle > img{
	height: 95px;
	width: auto;
}

.page-menu > h1, a {
	display: inline-block;
	padding-right: 4%;
}

.page-menu > h1 {
	color: $red;
	font-weight: bold;
}

.page-menu > a {
	text-decoration: none;
	color: $black;
}

.page-menu {
	border-bottom: 1px solid $black;
}

.page > div {
	margin-top: 50px;
	margin-bottom: 50px;
}

.page > div > h1 {
	color: $red;
}

.page > div > p {
	padding-left: 30px;
}

//////////
.about-tedx{
	text-align: center;
}

div.speakers {
	margin-top: 50px;
}

div.speakers h2 {
	color: $red;
}

img.speakers {
	display: inline-block;
}

div.row > div {
	height: 320px;
}

div.speaker-info > div.social {
	margin-top: 50px;
	text-align: center;
}

@media (max-width: 991px) {
	div.row > div {
		padding-left: 30px;
		padding-right: 30px;
	}
	div.speaker-img {
		text-align: center;
	}
	div.speaker-info {
		text-align: center;
	}
}
