#footer {
	//border-top: 1px solid #eeeeee;
	padding-top: 25px;
	background-color: #e62b1e;
	height: auto;
	width: 100%;
	text-align: center;
}

.blackline{
	width: 100%;
	height: 45px;
	background-color: #000;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
	color: $black;
}

.content {
	background: $white;
    background: -webkit-linear-gradient($white, $grey-bg);
    background: -o-linear-gradient($white, $grey-bg);
    background: -moz-linear-gradient($white, $grey-bg);
    background: linear-gradient($white, $grey-bg);
}

.nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-left {
		margin-top: 20px;
		margin-left: 10%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: $red;
	background-color: $navbar-default-bg;
}

.navbar-default {
	background-color: $navbar-default-bg;
}

.feature-img > img{
	width: 100%;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:25px;
    padding-bottom:0;
    height: 70px;
	margin-right: 35px;
}

.navbar-brand img{
	width: auto;
	height: 70px;
}
.navbar {
	min-height:70px;
	margin-bottom: 0;
	height: 100px;
}


.box {
	float: left;
	width: 450px;
	height: 400px;
	background-color: #edeae1;
	color: #535352;
	padding: 15px;
	padding-top: 3%;
	text-align: center;
}

.box h2,h3{
	line-height: 150%;
}

.box a{
	background-color: #e62b1e;
	margin-top: 5px;
	padding: 10px 25px;
	border-radius: 10%;
	border: none;
	color: #fff;
	font-size: 130%;
	text-decoration: none;
	width: 400px;
	height: 300px;
	text-align: center;
}

.section {
	padding: 30px 20px 30px 20px;
	background-color: #444;
	text-align: center;
}

.about {
	padding-top: 150px;
	padding-bottom: 150px;
}

.social > a {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 10px;
	text-align: center;
}

.img-circle > img{
	height: 100%;
	width: auto;
}

.page-menu > h1 {
	flex-grow: 1;
	color: $red;
	font-weight: bold;
}

.page-menu > a {
	flex-grow: 1;
	text-decoration: none;
	color: $black;
}

.page-menu {
	display: flex;
	align-items: flex-end;
	margin-top: 10px;
	border-bottom: 1px solid $black;
}

.page > div {
	margin-top: 50px;
	margin-bottom: 50px;
}

.page > div > h1 {
	color: $red;
}

.page > div > p {
	padding-left: 30px;
}

//////////
.about-tedx{
	text-align: center;
}

div.speakers {
	margin-top: 50px;

	.speaker-img img {
		max-height: 100%;
		max-width: 100%;
	}
}

div.speakers h2 {
	color: $red;
}

img.speakers {
	display: inline-block;
}

div.row > div {
	height: 320px;
}

div.speaker-info > div.social {
	margin-top: 50px;
	text-align: center;
}

@media (max-width: 1100px) {
	.navbar-left {
			margin-left: 0;
	}
}

@media (max-width: 991px) {
	.navbar-left {
			text-align: center;
			margin-left: 15%;
	}
	.box{
		float:none;
		display: block;
		margin : 0 auto;
	}
	div.row > div {
		padding-left: 30px;
		padding-right: 30px;
	}
	div.speaker-img {
		text-align: center;
	}
	div.speaker-info {
		text-align: center;
	}
}

/*language switcher*/
.language-switcher__language, .language-switcher__language:hover{
	text-decoration: none;
	color: $black;
	display: inline;
	margin-left: 5px;
}

.language-switcher__language:hover {
	cursor: pointer;
}

.language-switcher {
	position: absolute;
	top: 20px;
	right: 50px;
	z-index: 9999;
}
