.navbar-collapse {
	ul.nav {

		li a, li.active a, li a:hover, li.active a:hover {
			background-color: transparent;
			pointer-events: all;
		}

    @media (max-width: 767px) {
      margin-left: 55%;
			box-shadow: 0px 2px #ddd;
			background: white;
			margin-top: 0;

			li {
				pointer-events: none;
			}
    }
  }

	.language-switcher {
		text-align: right;
		display: block;
		position: absolute;
		right: 18px;
		margin-left: 55%;
	}
}


@media (max-width: 767px) {
	.navbar-brand {
		// max-height: 100%;
		max-width: 70%;
		height: 100px;
		margin-right: 0;
		img {
			max-height: 100%;
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}

	.navbar-toggle {
		margin-top: 25px;
	}
}
